In [1]:
import numpy as np
import sys
import gc
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

/Users/yuhaofei/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
print(os.listdir('./kaggle_input'))

['application_test.csv', 'HomeCredit_columns_description.csv', 'POS_CASH_balance.csv', 'credit_card_balance.csv', 'installments_payments.csv', 'application_train.csv', 'bureau.csv', 'previous_application.csv', 'bureau_balance.csv', 'sample_submission.csv']

## Feature Engineering 1
application dataset
polynomial feature engineering + domain knowledge  feature engineering

In [3]:
app_train = pd.read_csv('./kaggle_input/application_train.csv')
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
app_test = pd.read_csv('./kaggle_input/application_test.csv')
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
label_count = 0

for col in app_train:
    if app_train[col].dtype == 'object':
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            label.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = label.transform(app_train[col])
            app_test[col] = label.transform(app_test[col])
            label_count += 1
            
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)
print(app_train.shape)
print(app_test.shape)

(307511, 243)
(48744, 239)

In [6]:
train_labels = app_train['TARGET']
app_train,app_test = app_train.align(app_test, join = 'inner' ,  axis = 1)
app_train['TARGET'] = train_labels
print(app_train.shape)
print(app_test.shape)

(307511, 240)
(48744, 239)

In [7]:
from sklearn.impute import SimpleImputer as Imputer
from sklearn.preprocessing import PolynomialFeatures  
# do poly feature engineering using combination of 5 features
poly_features_train = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH', 'TARGET']]
poly_features_test = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']]

poly_target = poly_features_train['TARGET']
poly_features_train = poly_features_train.drop(columns = ['TARGET'])

# fill NaN in the table
imputer = Imputer(strategy = 'median')
poly_features_train = imputer.fit_transform(poly_features_train)
poly_features_test = imputer.transform(poly_features_test)
                        
poly_transformer = PolynomialFeatures(degree = 4)

# Train the polynomial features
poly_transformer.fit(poly_features_train)

# Transform the features
poly_features_train = poly_transformer.transform(poly_features_train)
poly_features_test = poly_transformer.transform(poly_features_test)
print('Polynomial Features shape: ', poly_features_train.shape)

poly_transformer.get_feature_names(input_features = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH'])[:15]

Polynomial Features shape:  (307511, 70)

['1',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'DAYS_BIRTH',
 'EXT_SOURCE_1^2',
 'EXT_SOURCE_1 EXT_SOURCE_2',
 'EXT_SOURCE_1 EXT_SOURCE_3',
 'EXT_SOURCE_1 DAYS_BIRTH',
 'EXT_SOURCE_2^2',
 'EXT_SOURCE_2 EXT_SOURCE_3',
 'EXT_SOURCE_2 DAYS_BIRTH',
 'EXT_SOURCE_3^2',
 'EXT_SOURCE_3 DAYS_BIRTH',
 'DAYS_BIRTH^2']

In [8]:
poly_features_train = pd.DataFrame(poly_features_train, 
                             columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                           'EXT_SOURCE_3', 'DAYS_BIRTH']))
poly_features_test = pd.DataFrame(poly_features_test, 
                                  columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                                'EXT_SOURCE_3', 'DAYS_BIRTH']))


# Add in the target
poly_features_train['TARGET'] = poly_target


# Merge polynomial features into training dataframe
poly_features_train['SK_ID_CURR'] = app_train['SK_ID_CURR']
app_train_poly = app_train.merge(poly_features_train, on = 'SK_ID_CURR', how = 'left')

# Merge polnomial features into testing dataframe
poly_features_test['SK_ID_CURR'] = app_test['SK_ID_CURR']
app_test_poly = app_test.merge(poly_features_test, on = 'SK_ID_CURR', how = 'left')

# Align the dataframes
app_train_poly, app_test_poly = app_train_poly.align(app_test_poly, join = 'inner', axis = 1)

# Print out the new shapes
print('Training data with polynomial features shape: ', app_train_poly.shape)
print('Testing data with polynomial features shape:  ', app_test_poly.shape)

Training data with polynomial features shape:  (307511, 309)
Testing data with polynomial features shape:   (48744, 309)

In [9]:
app_train_domain = app_train.copy()
app_test_domain = app_test.copy()

# set domain knowledge feature for train and set
app_train_domain['CREDIT_INCOME_PERCENT'] = app_train_domain['AMT_CREDIT'] / app_train_domain['AMT_INCOME_TOTAL']
app_train_domain['ANNUITY_INCOME_PERCENT'] = app_train_domain['AMT_ANNUITY'] / app_train_domain['AMT_INCOME_TOTAL']
app_train_domain['CREDIT_TERM'] = app_train_domain['AMT_ANNUITY'] / app_train_domain['AMT_CREDIT']
app_train_domain['DAYS_EMPLOYED_PERCENT'] = app_train_domain['DAYS_EMPLOYED'] / app_train_domain['DAYS_BIRTH']

app_test_domain['CREDIT_INCOME_PERCENT'] = app_test_domain['AMT_CREDIT'] / app_test_domain['AMT_INCOME_TOTAL']
app_test_domain['ANNUITY_INCOME_PERCENT'] = app_test_domain['AMT_ANNUITY'] / app_test_domain['AMT_INCOME_TOTAL']
app_test_domain['CREDIT_TERM'] = app_test_domain['AMT_ANNUITY'] / app_test_domain['AMT_CREDIT']
app_test_domain['DAYS_EMPLOYED_PERCENT'] = app_test_domain['DAYS_EMPLOYED'] / app_test_domain['DAYS_BIRTH']

app_train = pd.merge(app_train_domain,poly_features_train, how = 'inner', on='SK_ID_CURR')
app_test  = pd.merge(app_test_domain,poly_features_test, how = 'inner', on='SK_ID_CURR')

# align
app_train, app_test = app_train.align(app_test, join = 'inner', axis = 1)

print('Training data with domain features shape: ', app_train.shape)
print('Testing data with domain features shape:  ', app_test.shape)

Training data with domain features shape:  (307511, 313)
Testing data with domain features shape:   (48744, 313)

## Feature Engineering 2
bureau dataset
aggregation feature engineering

In [10]:
bureau = pd.read_csv('./kaggle_input/bureau.csv')
bb = pd.read_csv('./kaggle_input/bureau_balance.csv')
print(bureau.shape)
print(bb.shape)

(1716428, 17)
(27299925, 3)

In [11]:
previous_loan_counts = bureau.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'previous_loan_counts'})
previous_loan_counts.head()

   SK_ID_CURR  previous_loan_counts
0      100001                     7
1      100002                     8
2      100003                     4
3      100004                     2
4      100005                     3

In [12]:
print(app_train.shape)
print(app_test.shape)
app_train = app_train.merge(previous_loan_counts, on = 'SK_ID_CURR', how = 'left')
app_test = app_test.merge(previous_loan_counts, on = 'SK_ID_CURR', how = 'left')

# Fill the missing values with 0 
app_train['previous_loan_counts'] = app_train['previous_loan_counts'].fillna(0)
app_test['previous_loan_counts'] = app_test['previous_loan_counts'].fillna(0)
print(app_train.shape)
print(app_test.shape)
app_train.head()

(307511, 313)
(48744, 313)
(307511, 314)
(48744, 314)

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,EXT_SOURCE_2 EXT_SOURCE_3^3,EXT_SOURCE_2 EXT_SOURCE_3^2 DAYS_BIRTH,EXT_SOURCE_2 EXT_SOURCE_3 DAYS_BIRTH^2,EXT_SOURCE_2 DAYS_BIRTH^3,EXT_SOURCE_3^4,EXT_SOURCE_3^3 DAYS_BIRTH,EXT_SOURCE_3^2 DAYS_BIRTH^2,EXT_SOURCE_3 DAYS_BIRTH^3,DAYS_BIRTH^4,previous_loan_counts
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,0.000712,-48.326185,3.280441e+06,-2.226804e+11,0.000377,-25.615272,1.738796e+06,-1.180316e+11,8.012133e+15,8.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,0.095432,-2988.969365,9.361535e+07,-2.932058e+12,0.082094,-2571.209606,8.053099e+07,-2.522253e+12,7.899766e+16,4.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0.215874,-5635.596478,1.471224e+08,-3.840763e+12,0.283309,-7396.031846,1.930801e+08,-5.040532e+12,1.315876e+17,2.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0.099757,-3541.866544,1.257541e+08,-4.464903e+12,0.082094,-2914.753269,1.034884e+08,-3.674359e+12,1.304582e+17,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0.049498,-1843.135727,6.863256e+07,-2.555660e+12,0.082094,-3056.925134,1.138303e+08,-4.238680e+12,1.578351e+17,1.0

In [13]:
# Group by the client id, calculate aggregation statistics
bureau_agg = bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index()
bureau_agg.head()

  SK_ID_CURR DAYS_CREDIT                               CREDIT_DAY_OVERDUE  \
                   count         mean  max   min   sum              count
0     100001           7  -735.000000  -49 -1572 -5145                  7
1     100002           8  -874.000000 -103 -1437 -6992                  8
2     100003           4 -1400.750000 -606 -2586 -5603                  4
3     100004           2  -867.000000 -408 -1326 -1734                  2
4     100005           3  -190.666667  -62  -373  -572                  3

                ... DAYS_CREDIT_UPDATE                               \
  mean max min  ...              count        mean  max   min   sum
0  0.0   0   0  ...                  7  -93.142857   -6  -155  -652
1  0.0   0   0  ...                  8 -499.875000   -7 -1185 -3999
2  0.0   0   0  ...                  4 -816.000000  -43 -2131 -3264
3  0.0   0   0  ...                  2 -532.000000 -382  -682 -1064
4  0.0   0   0  ...                  3  -54.333333  -11  -121  -163

  AMT_ANNUITY
        count         mean      max  min      sum
0           7  3545.357143  10822.5  0.0  24817.5
1           7     0.000000      0.0  0.0      0.0
2           0          NaN      NaN  NaN      0.0
3           0          NaN      NaN  NaN      0.0
4           3  1420.500000   4261.5  0.0   4261.5

[5 rows x 61 columns]

In [14]:
# List of column names
columns = ['SK_ID_CURR']

# Iterate through the variables names
for var in bureau_agg.columns.levels[0]:
    # Skip the id name
    if var != 'SK_ID_CURR':
        
        # Iterate through the stat names
        for stat in bureau_agg.columns.levels[1][:-1]:
            # Make a new column name for the variable and stat
            columns.append('bureau_%s_%s' % (var, stat))
bureau_agg.columns = columns
bureau_agg.head()

,SK_ID_CURR,bureau_DAYS_CREDIT_count,bureau_DAYS_CREDIT_mean,bureau_DAYS_CREDIT_max,bureau_DAYS_CREDIT_min,bureau_DAYS_CREDIT_sum,bureau_CREDIT_DAY_OVERDUE_count,bureau_CREDIT_DAY_OVERDUE_mean,bureau_CREDIT_DAY_OVERDUE_max,bureau_CREDIT_DAY_OVERDUE_min,...,bureau_DAYS_CREDIT_UPDATE_count,bureau_DAYS_CREDIT_UPDATE_mean,bureau_DAYS_CREDIT_UPDATE_max,bureau_DAYS_CREDIT_UPDATE_min,bureau_DAYS_CREDIT_UPDATE_sum,bureau_AMT_ANNUITY_count,bureau_AMT_ANNUITY_mean,bureau_AMT_ANNUITY_max,bureau_AMT_ANNUITY_min,bureau_AMT_ANNUITY_sum
0,100001,7,-735.000000,-49,-1572,-5145,7,0.0,0,0,...,7,-93.142857,-6,-155,-652,7,3545.357143,10822.5,0.0,24817.5
1,100002,8,-874.000000,-103,-1437,-6992,8,0.0,0,0,...,8,-499.875000,-7,-1185,-3999,7,0.000000,0.0,0.0,0.0
2,100003,4,-1400.750000,-606,-2586,-5603,4,0.0,0,0,...,4,-816.000000,-43,-2131,-3264,0,NaN,NaN,NaN,0.0
3,100004,2,-867.000000,-408,-1326,-1734,2,0.0,0,0,...,2,-532.000000,-382,-682,-1064,0,NaN,NaN,NaN,0.0
4,100005,3,-190.666667,-62,-373,-572,3,0.0,0,0,...,3,-54.333333,-11,-121,-163,3,1420.500000,4261.5,0.0,4261.5

In [15]:
print(app_train.shape)
print(app_test.shape)
app_train = app_train.merge(bureau_agg, on = 'SK_ID_CURR', how = 'left')
app_test = app_test.merge(bureau_agg, on = 'SK_ID_CURR', how = 'left')

print(app_train.shape)
print(app_test.shape)
app_train.head()

(307511, 314)
(48744, 314)
(307511, 374)
(48744, 374)

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,bureau_DAYS_CREDIT_UPDATE_count,bureau_DAYS_CREDIT_UPDATE_mean,bureau_DAYS_CREDIT_UPDATE_max,bureau_DAYS_CREDIT_UPDATE_min,bureau_DAYS_CREDIT_UPDATE_sum,bureau_AMT_ANNUITY_count,bureau_AMT_ANNUITY_mean,bureau_AMT_ANNUITY_max,bureau_AMT_ANNUITY_min,bureau_AMT_ANNUITY_sum
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,8.0,-499.875,-7.0,-1185.0,-3999.0,7.0,0.0,0.0,0.0,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,4.0,-816.000,-43.0,-2131.0,-3264.0,0.0,NaN,NaN,NaN,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,2.0,-532.000,-382.0,-682.0,-1064.0,0.0,NaN,NaN,NaN,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,1.0,-783.000,-783.0,-783.0,-783.0,0.0,NaN,NaN,NaN,0.0

## Feature Engineering 3
POS_CASH_balance.csv feature engineering

In [16]:
pos = pd.read_csv('./kaggle_input/POS_CASH_balance.csv')
print(pos.shape)
pos.head()

(10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [17]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns
pos, cat_cols = one_hot_encoder(pos, nan_as_category= True)
# Features
aggregations = {
    'MONTHS_BALANCE': ['max', 'mean', 'size'],
    'SK_DPD': ['max', 'mean'],
    'SK_DPD_DEF': ['max', 'mean']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']
pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
# Count pos cash accounts
pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
del pos
gc.collect()

7

In [18]:
app_train = app_train.merge(pos_agg, on = 'SK_ID_CURR', how = 'left')
app_test = app_test.merge(pos_agg, on = 'SK_ID_CURR', how = 'left')
app_train.shape,app_test.shape

((307511, 392), (48744, 392))

## Feature Engineering 4
installments_payments.csv

In [19]:
ins = pd.read_csv('./kaggle_input/installments_payments.csv')
print(ins.shape)

(13605401, 8)

In [20]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

ins, cat_cols = one_hot_encoder(ins, nan_as_category= True)

In [21]:
ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)

aggregations = {
    'NUM_INSTALMENT_VERSION': ['nunique'],
    'DPD': ['max', 'mean', 'sum'],
    'DBD': ['max', 'mean', 'sum'],
    'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
    'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
    'AMT_INSTALMENT': ['max', 'mean', 'sum'],
    'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
    'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']
ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])

ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
del ins
gc.collect()

0

In [22]:
app_train = app_train.merge(ins_agg, on = 'SK_ID_CURR', how = 'left')
app_test = app_test.merge(ins_agg, on = 'SK_ID_CURR', how = 'left')
app_train.shape,app_test.shape

((307511, 418), (48744, 418))

## Feature Engineering 5
credit_card_balance.csv

In [23]:
cc = pd.read_csv('./kaggle_input/credit_card_balance.csv')
print(cc.shape)

(3840312, 23)

In [24]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

cc, cat_cols = one_hot_encoder(cc, nan_as_category= True)

In [25]:
# General aggregations
cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
# Count credit card lines
cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
del cc
gc.collect()

0

In [26]:
app_train = app_train.merge(cc_agg, on = 'SK_ID_CURR', how = 'left')
app_test = app_test.merge(cc_agg, on = 'SK_ID_CURR', how = 'left')
app_train.shape,app_test.shape

((307511, 559), (48744, 559))

## Feature Engineering 6
previous_applications.csv

In [27]:
prev = pd.read_csv('./kaggle_input/previous_application.csv')
prev_col = prev.columns.tolist()
prev.shape

(1670214, 37)

In [28]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

prev, cat_cols = one_hot_encoder(prev, nan_as_category= True)

In [29]:
# fill NaN in the table
prev_col = []
for i in prev:
    prev_col.append(i)
imputer = Imputer(missing_values=np.nan,strategy = 'constant',fill_value = 32575)
prev = imputer.fit_transform(prev)
print(prev)

[[2.0304950e+06 2.7187700e+05 1.7304300e+03 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [2.8024250e+06 1.0812900e+05 2.5188615e+04 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [2.5234660e+06 1.2204000e+05 1.5060735e+04 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 ...
 [2.6596320e+06 2.4954400e+05 1.1520855e+04 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [2.7855820e+06 4.0031700e+05 1.8821520e+04 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [2.4187620e+06 2.6121200e+05 1.6431300e+04 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]]

In [30]:
prev = pd.DataFrame(prev,columns = prev_col)
prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']

In [31]:
# Previous applications numeric features
num_aggregations = {
    'AMT_ANNUITY': ['min', 'max', 'mean'],
    'AMT_APPLICATION': ['min', 'max', 'mean'],
    'AMT_CREDIT': ['min', 'max', 'mean'],
    'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
    'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
    'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
    'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
    'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
    'DAYS_DECISION': ['min', 'max', 'mean'],
    'CNT_PAYMENT': ['mean', 'sum'],
}
# Previous applications categorical features
cat_aggregations = {}
for cat in cat_cols:
    cat_aggregations[cat] = ['mean']

prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
# Previous Applications: Approved Applications - only numerical features
approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')
# Previous Applications: Refused Applications - only numerical features
refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')
del refused, refused_agg, approved, approved_agg, prev
gc.collect()

0

In [32]:
app_train = app_train.merge(prev_agg, on = 'SK_ID_CURR', how = 'left')
app_test = app_test.merge(prev_agg, on = 'SK_ID_CURR', how = 'left')
app_test.replace(to_replace=np.NaN, value=10000, inplace=True)
app_train.replace(to_replace=np.NaN, value=10000, inplace=True)
app_test.replace(to_replace=np.inf, value=10000, inplace=True)
app_train.replace(to_replace=np.inf, value=10000, inplace=True)

In [33]:
print(app_train.shape)
print(app_test.shape)

(307511, 808)
(48744, 808)

## Prepare for Model Part

In [34]:
new_corrs = []
columns = app_train.columns.values.tolist()
# Iterate through the columns 
for col in columns:
    # Calculate correlation with the target
    corr = train_labels.corr(app_train[col])
    
    # Append the list as a tuple

    new_corrs.append((col, abs(corr)))
new_corrs = sorted(new_corrs, key = lambda x: (x[1]), reverse = False)
print(new_corrs[0][0])
new_corrs[:300]

ORGANIZATION_TYPE_Industry: type 7

[('ORGANIZATION_TYPE_Industry: type 7', 9.405271151196014e-05),
 ('ORGANIZATION_TYPE_Advertising', 0.00011748220212479868),
 ('FLAG_DOCUMENT_20', 0.00021539355797725417),
 ('ORGANIZATION_TYPE_Legal Services', 0.0002359890687348436),
 ('INSTAL_PAYMENT_PERC_VAR', 0.00029003204294170815),
 ('NAME_HOUSING_TYPE_Co-op apartment', 0.0003123669248053774),
 ('FLAG_DOCUMENT_5', 0.00031577741664628545),
 ('ORGANIZATION_TYPE_Business Entity Type 1', 0.0003386506512333853),
 ('FLAG_CONT_MOBILE', 0.000370126802348927),
 ('OCCUPATION_TYPE_Realty agents', 0.00039357160127685833),
 ('EXT_SOURCE_2_x', 0.0003965474753989494),
 ('CNT_FAM_MEMBERS', 0.00042303514898676855),
 ('WEEKDAY_APPR_PROCESS_START_THURSDAY', 0.00044588677360102026),
 ('NAME_TYPE_SUITE_Group of people', 0.0004515676330592704),
 ('ORGANIZATION_TYPE_Housing', 0.0004642395738526417),
 ('FLAG_MOBIL', 0.0005343955790282575),
 ('bureau_AMT_CREDIT_SUM_DEBT_min', 0.0005566982285586807),
 ('bureau_AMT_ANNUITY_mean', 0.0005985960863499923),
 ('WALLSMATERIAL_MODE_Others', 0.0006282435192422427),
 ('ORGANIZATION_TYPE_Industry: type 6', 0.0006516526920781438),
 ('ORGANIZATION_TYPE_Telecom', 0.0007118068865132757),
 ('bureau_AMT_ANNUITY_max', 0.0007368330593004376),
 ('FLAG_DOCUMENT_12', 0.0007557507043579039),
 ('ORGANIZATION_TYPE_Transport: type 2', 0.0008386382341174818),
 ('ORGANIZATION_TYPE_Trade: type 5', 0.0009038517880430363),
 ('HOUSETYPE_MODE_terraced house', 0.000982447124639596),
 ('bureau_AMT_CREDIT_SUM_LIMIT_min', 0.0010294574790208702),
 ('ORGANIZATION_TYPE_Trade: type 1', 0.001031907645751893),
 ('ORGANIZATION_TYPE_Postal', 0.0011253764942944268),
 ('ORGANIZATION_TYPE_Industry: type 10', 0.0011411296041351983),
 ('NAME_FAMILY_STATUS_Separated', 0.0011676491056643243),
 ('WEEKDAY_APPR_PROCESS_START_FRIDAY', 0.001202524423365821),
 ('ORGANIZATION_TYPE_Industry: type 2', 0.0012300716107088781),
 ('WEEKDAY_APPR_PROCESS_START_SUNDAY', 0.0012442896207000068),
 ('ORGANIZATION_TYPE_Mobile', 0.0012680907236234623),
 ('ORGANIZATION_TYPE_Religion', 0.0013370635523446484),
 ('FLAG_DOCUMENT_19', 0.0013575183243008315),
 ('NAME_TYPE_SUITE_Other_A', 0.0013715818087853698),
 ('bureau_AMT_ANNUITY_min', 0.001402613022702685),
 ('FLAG_DOCUMENT_10', 0.0014138915975240975),
 ('ORGANIZATION_TYPE_Industry: type 8', 0.0014357446973907093),
 ('WEEKDAY_APPR_PROCESS_START_WEDNESDAY', 0.0014474879944789733),
 ('NAME_TYPE_SUITE_Spouse, partner', 0.0014478284948376786),
 ('ORGANIZATION_TYPE_Emergency', 0.0014582026891058486),
 ('bureau_AMT_ANNUITY_sum', 0.0014607170524793957),
 ('FLAG_DOCUMENT_7', 0.001519503160087933),
 ('NAME_INCOME_TYPE_Businessman', 0.0016899319313416123),
 ('WALLSMATERIAL_MODE_Mixed', 0.0017130120928846454),
 ('FLAG_EMAIL', 0.0017583834312546065),
 ('ANNUITY_INCOME_PERCENT', 0.0018296345016690036),
 ('CREDIT_TERM', 0.0018466617773521144),
 ('bureau_AMT_CREDIT_MAX_OVERDUE_min', 0.0019371739644787036),
 ('bureau_AMT_CREDIT_MAX_OVERDUE_max', 0.0019489737186345257),
 ('bureau_AMT_CREDIT_MAX_OVERDUE_mean', 0.0019592541672448886),
 ('bureau_AMT_CREDIT_SUM_DEBT_sum', 0.001965929452562723),
 ('ORGANIZATION_TYPE_Industry: type 5', 0.001991675040093792),
 ('ORGANIZATION_TYPE_Industry: type 11', 0.0020086493539223636),
 ('SK_ID_CURR', 0.002108469018197718),
 ('NAME_INCOME_TYPE_Student', 0.0022673110990699854),
 ('bureau_AMT_CREDIT_MAX_OVERDUE_sum', 0.0023460425279304828),
 ('WEEKDAY_APPR_PROCESS_START_SATURDAY', 0.002396335937144666),
 ('OCCUPATION_TYPE_IT staff', 0.0024448667370664205),
 ('OCCUPATION_TYPE_Secretaries', 0.0024517101609565013),
 ('ORGANIZATION_TYPE_Trade: type 4', 0.0026205235252026262),
 ('OCCUPATION_TYPE_HR staff', 0.0026389067004829415),
 ('NAME_TYPE_SUITE_Children', 0.0026478225215885564),
 ('FONDKAPREMONT_MODE_not specified', 0.0026673565325681103),
 ('FLAG_DOCUMENT_4', 0.0026720821701621774),
 ('NAME_EDUCATION_TYPE_Incomplete higher', 0.002812769050111601),
 ('LIVE_REGION_NOT_WORK_REGION', 0.0028194791841589235),
 ('ORGANIZATION_TYPE_Industry: type 13', 0.002904553093278808),
 ('ORGANIZATION_TYPE_Electricity', 0.002945252391987987),
 ('ORGANIZATION_TYPE_Trade: type 2', 0.003105332604981346),
 ('ORGANIZATION_TYPE_Business Entity Type 2', 0.0031520375791926378),
 ('ORGANIZATION_TYPE_Culture', 0.003264991463971633),
 ('ORGANIZATION_TYPE_Cleaning', 0.003289959496264218),
 ('NAME_HOUSING_TYPE_Municipal apartment', 0.0033292686030267603),
 ('ORGANIZATION_TYPE_Realtor', 0.003339079629980332),
 ('ORGANIZATION_TYPE_Transport: type 1', 0.0033752431971392598),
 ('FLAG_DOCUMENT_17', 0.003377569147413905),
 ('ORGANIZATION_TYPE_Hotel', 0.0034096887900142044),
 ('bureau_AMT_CREDIT_SUM_DEBT_mean', 0.003547033709240105),
 ('FLAG_DOCUMENT_21', 0.0037086250293065174),
 ('ORGANIZATION_TYPE_Other', 0.0037837850228734757),
 ('ORGANIZATION_TYPE_Insurance', 0.0038495235189541046),
 ('ORGANIZATION_TYPE_Services', 0.0038709693046358865),
 ('AMT_INCOME_TOTAL', 0.003981865601205661),
 ('ORGANIZATION_TYPE_Industry: type 4', 0.004074224985598672),
 ('FLAG_DOCUMENT_11', 0.004229349652160081),
 ('INSTAL_AMT_INSTALMENT_MAX', 0.004342731824633786),
 ('FLAG_DOCUMENT_9', 0.0043524085808421785),
 ('WEEKDAY_APPR_PROCESS_START_TUESDAY', 0.004698054879488301),
 ('EMERGENCYSTATE_MODE_Yes', 0.00482886551224364),
 ('NAME_TYPE_SUITE_Other_B', 0.004909081791168028),
 ('OCCUPATION_TYPE_Private service staff', 0.005046900102683686),
 ('NAME_HOUSING_TYPE_Office apartment', 0.005102920985846723),
 ('WEEKDAY_APPR_PROCESS_START_MONDAY', 0.0051492705226744585),
 ('NAME_EDUCATION_TYPE_Academic degree', 0.005294285204460226),
 ('HOUSETYPE_MODE_specific housing', 0.005311049709137719),
 ('ORGANIZATION_TYPE_Industry: type 9', 0.00537851458197828),
 ('FLAG_DOCUMENT_2', 0.005417144279619334),
 ('ORGANIZATION_TYPE_Industry: type 12', 0.005444197971605968),
 ('REG_REGION_NOT_LIVE_REGION', 0.005575944520908465),
 ('ORGANIZATION_TYPE_Kindergarten', 0.0057641838703269685),
 ('ORGANIZATION_TYPE_Trade: type 6', 0.005787609924429904),
 ('bureau_AMT_CREDIT_SUM_DEBT_max', 0.005878279872992564),
 ('ORGANIZATION_TYPE_Transport: type 4', 0.005929012434526147),
 ('FLAG_OWN_REALTY', 0.006148387704570253),
 ('ORGANIZATION_TYPE_Industry: type 1', 0.006402340351265606),
 ('FLAG_DOCUMENT_15', 0.006535657584094913),
 ('WALLSMATERIAL_MODE_Block', 0.006776814393931774),
 ('REG_REGION_NOT_WORK_REGION', 0.006941907545371622),
 ('OCCUPATION_TYPE_Cleaning staff', 0.006978888160051247),
 ('ORGANIZATION_TYPE_Security', 0.007226072151375827),
 ('ORGANIZATION_TYPE_Government', 0.0075204017869954735),
 ('ORGANIZATION_TYPE_University', 0.007671833701664784),
 ('CREDIT_INCOME_PERCENT', 0.0077267973222940566),
 ('OCCUPATION_TYPE_Waiters/barmen staff', 0.007801903741506828),
 ('ORGANIZATION_TYPE_Agriculture', 0.007901117983434978),
 ('WALLSMATERIAL_MODE_Wooden', 0.007946354272316495),
 ('FLAG_DOCUMENT_18', 0.007952385099462498),
 ('FLAG_DOCUMENT_8', 0.008040384466056654),
 ('ORGANIZATION_TYPE_Trade: type 7', 0.008169509158975921),
 ('NAME_TYPE_SUITE_Family', 0.008226290530744794),
 ('bureau_AMT_CREDIT_SUM_LIMIT_mean', 0.008274148678504152),
 ('NAME_TYPE_SUITE_Unaccompanied', 0.008300874057204324),
 ('OCCUPATION_TYPE_Medicine staff', 0.00851442212975485),
 ('NAME_INCOME_TYPE_Unemployed', 0.008784255390103907),
 ('ORGANIZATION_TYPE_Trade: type 3', 0.008910974898960615),
 ('INSTAL_PAYMENT_DIFF_VAR', 0.009092171988045782),
 ('WALLSMATERIAL_MODE_Monolithic', 0.00938366377390459),
 ('FLAG_DOCUMENT_14', 0.009463821935576967),
 ('ORGANIZATION_TYPE_Security Ministries', 0.009470318474672269),
 ('OBS_30_CNT_SOCIAL_CIRCLE', 0.009595450828814488),
 ('OBS_60_CNT_SOCIAL_CIRCLE', 0.00959623573533574),
 ('DEF_30_CNT_SOCIAL_CIRCLE', 0.009608572479101856),
 ('ORGANIZATION_TYPE_Bank', 0.00960938121245057),
 ('DEF_60_CNT_SOCIAL_CIRCLE', 0.009613903741482226),
 ('ORGANIZATION_TYPE_Industry: type 3', 0.009691051180979333),
 ('ORGANIZATION_TYPE_Police', 0.009886470996787293),
 ('previous_loan_counts', 0.01001971567068402),
 ('ORGANIZATION_TYPE_Military', 0.010057211128556376),
 ('bureau_AMT_CREDIT_SUM_LIMIT_sum', 0.010111896473050766),
 ('ORGANIZATION_TYPE_Restaurant', 0.010265581100007026),
 ('ORGANIZATION_TYPE_Medicine', 0.010618924847167513),
 ('bureau_AMT_CREDIT_SUM_LIMIT_max', 0.010966094554518278),
 ('FONDKAPREMONT_MODE_reg oper spec account', 0.01125738861341226),
 ('FONDKAPREMONT_MODE_org spec account', 0.011284817213702997),
 ('FLAG_DOCUMENT_13', 0.011583222341419492),
 ('FLAG_DOCUMENT_16', 0.011614671588293437),
 ('NAME_EDUCATION_TYPE_Lower secondary', 0.011746907779560316),
 ('NAME_INCOME_TYPE_Commercial associate', 0.011905633271823618),
 ('bureau_AMT_CREDIT_SUM_min', 0.011939199986007551),
 ('OCCUPATION_TYPE_Cooking staff', 0.012221887997700742),
 ('POS_SK_DPD_MAX', 0.012601185261237676),
 ('POS_MONTHS_BALANCE_MEAN', 0.012641453152035633),
 ('WALLSMATERIAL_MODE_Stone, brick', 0.01265665930348926),
 ('POS_SK_DPD_MEAN', 0.012784258702010644),
 ('POS_SK_DPD_DEF_MAX', 0.01280133195841939),
 ('AMT_ANNUITY', 0.01280254077419362),
 ('POS_SK_DPD_DEF_MEAN', 0.012886367275130511),
 ('POS_NAME_CONTRACT_STATUS_Signed_MEAN', 0.012920187059689956),
 ('POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN', 0.012920275499865075),
 ('POS_NAME_CONTRACT_STATUS_Demand_MEAN', 0.012920290256913259),
 ('POS_NAME_CONTRACT_STATUS_Completed_MEAN', 0.012920313583740389),
 ('POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN', 0.012920317969742212),
 ('POS_NAME_CONTRACT_STATUS_Approved_MEAN', 0.012920322621220766),
 ('POS_NAME_CONTRACT_STATUS_nan_MEAN', 0.012920324728530995),
 ('POS_NAME_CONTRACT_STATUS_XNA_MEAN', 0.01292032473366162),
 ('POS_NAME_CONTRACT_STATUS_Canceled_MEAN', 0.01292032480162687),
 ('POS_NAME_CONTRACT_STATUS_Active_MEAN', 0.012920566039788643),
 ('POS_MONTHS_BALANCE_MAX', 0.012952340422955599),
 ('POS_MONTHS_BALANCE_SIZE', 0.013269030674068153),
 ('POS_COUNT', 0.013269030674068153),
 ('ORGANIZATION_TYPE_School', 0.013671152344879263),
 ('OCCUPATION_TYPE_High skill tech staff', 0.013765665095471403),
 ('OCCUPATION_TYPE_Security staff', 0.014648392492757295),
 ('INSTAL_PAYMENT_PERC_MAX', 0.016375493555531275),
 ('INSTAL_DPD_SUM', 0.0167736300468094),
 ('INSTAL_PAYMENT_PERC_SUM', 0.016813486618511623),
 ('bureau_AMT_CREDIT_SUM_OVERDUE_max', 0.017020901765990647),
 ('ORGANIZATION_TYPE_Transport: type 3', 0.017551864569600093),
 ('INSTAL_DPD_MAX', 0.01771045243103849),
 ('INSTAL_PAYMENT_PERC_MEAN', 0.01783340588021879),
 ('INSTAL_PAYMENT_DIFF_MAX', 0.017863893600274607),
 ('INSTAL_DPD_MEAN', 0.017880080400383136),
 ('INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE', 0.017923236195882625),
 ('bureau_AMT_CREDIT_SUM_sum', 0.017995290493154535),
 ('INSTAL_DBD_MEAN', 0.017998831277211354),
 ('INSTAL_DBD_MAX', 0.01800243442280531),
 ('bureau_AMT_CREDIT_SUM_OVERDUE_sum', 0.018544331223280915),
 ('EXT_SOURCE_1_x', 0.018637976489300937),
 ('OCCUPATION_TYPE_Managers', 0.018647997265506637),
 ('INSTAL_PAYMENT_DIFF_MEAN', 0.018835186977391883),
 ('CNT_CHILDREN', 0.019187133596269994),
 ('NAME_FAMILY_STATUS_Widow', 0.019394463930999896),
 ('OCCUPATION_TYPE_Sales staff', 0.019537264950095966),
 ('NAME_HOUSING_TYPE_Rented apartment', 0.019767212144090444),
 ('ORGANIZATION_TYPE_Construction', 0.019791857405878462),
 ('OCCUPATION_TYPE_Core staff', 0.020377891840837648),
 ('bureau_AMT_CREDIT_SUM_OVERDUE_min', 0.02079212294530147),
 ('OCCUPATION_TYPE_Accountants', 0.02161046669658778),
 ('FLAG_OWN_CAR', 0.021850938463835717),
 ('OWN_CAR_AGE', 0.021871722887451824),
 ('NAME_FAMILY_STATUS_Civil marriage', 0.02249626811569456),
 ('FONDKAPREMONT_MODE_reg oper account', 0.02258703808325251),
 ('EXT_SOURCE_3_x', 0.022610003472682782),
 ('bureau_AMT_CREDIT_SUM_mean', 0.022643982302296257),
 ('bureau_AMT_CREDIT_SUM_max', 0.022952333945562058),
 ('bureau_AMT_CREDIT_SUM_OVERDUE_mean', 0.023135720549283704),
 ('NAME_INCOME_TYPE_State servant', 0.02344684910669605),
 ('INSTAL_DBD_SUM', 0.02350824982541105),
 ('FLAG_PHONE', 0.02380627233035729),
 ('ORGANIZATION_TYPE_Business Entity Type 3', 0.023992520321203963),
 ('HOUR_APPR_PROCESS_START', 0.024165831430094382),
 ('NAME_FAMILY_STATUS_Married', 0.025042815127007883),
 ('INSTAL_PAYMENT_DIFF_SUM', 0.026396980716276587),
 ('NAME_FAMILY_STATUS_Single / not married', 0.026518182409827205),
 ('OCCUPATION_TYPE_Low-skill Laborers', 0.02759081857086972),
 ('COMMONAREA_MEDI', 0.028026159936087407),
 ('COMMONAREA_AVG', 0.028026160167184476),
 ('COMMONAREA_MODE', 0.028026172026739474),
 ('NONLIVINGAPARTMENTS_AVG', 0.028250514539795015),
 ('NONLIVINGAPARTMENTS_MEDI', 0.028250515829343535),
 ('NONLIVINGAPARTMENTS_MODE', 0.02825051945599929),
 ('FLAG_WORK_PHONE', 0.0285243223632175),
 ('NAME_HOUSING_TYPE_House / apartment', 0.02855489281392614),
 ('FLAG_DOCUMENT_6', 0.028601893973061402),
 ('ORGANIZATION_TYPE_Self-employed', 0.029138816170824904),
 ('LIVINGAPARTMENTS_AVG', 0.02959023355584146),
 ('LIVINGAPARTMENTS_MEDI', 0.029590234295449904),
 ('LIVINGAPARTMENTS_MODE', 0.02959023529432032),
 ('FLOORSMIN_AVG', 0.029764344398528774),
 ('FLOORSMIN_MEDI', 0.029764345480639817),
 ('FLOORSMIN_MODE', 0.029764354321550595),
 ('NAME_HOUSING_TYPE_With parents', 0.029965856665930643),
 ('OCCUPATION_TYPE_Drivers', 0.030303499914947504),
 ('AMT_CREDIT', 0.03036928646142965),
 ('bureau_DAYS_ENDDATE_FACT_count', 0.030764249071642474),
 ('bureau_DAYS_CREDIT_ENDDATE_count', 0.030785040201778552),
 ('bureau_CNT_CREDIT_PROLONG_min', 0.030789050486009203),
 ('bureau_CNT_CREDIT_PROLONG_mean', 0.030789100885822925),
 ('bureau_CNT_CREDIT_PROLONG_max', 0.03078927673497929),
 ('bureau_CNT_CREDIT_PROLONG_sum', 0.03078929309018683),
 ('bureau_AMT_CREDIT_SUM_LIMIT_count', 0.03079165799962872),
 ('bureau_DAYS_CREDIT_count', 0.030793293365063028),
 ('bureau_CREDIT_DAY_OVERDUE_count', 0.030793293365063028),
 ('bureau_CNT_CREDIT_PROLONG_count', 0.030793293365063028),
 ('bureau_AMT_CREDIT_SUM_OVERDUE_count', 0.030793293365063028),
 ('bureau_DAYS_CREDIT_UPDATE_count', 0.030793293365063028),
 ('bureau_AMT_CREDIT_SUM_count', 0.030793294155894886),
 ('bureau_AMT_CREDIT_MAX_OVERDUE_count', 0.030793603503881474),
 ('bureau_AMT_CREDIT_SUM_DEBT_count', 0.030795242368843668),
 ('bureau_AMT_ANNUITY_count', 0.030799033352588424),
 ('bureau_CREDIT_DAY_OVERDUE_min', 0.030819369824997972),
 ('bureau_CREDIT_DAY_OVERDUE_mean', 0.030838627054869373),
 ('NAME_CONTRACT_TYPE', 0.030895908161047637),
 ('bureau_CREDIT_DAY_OVERDUE_max', 0.030897961994533176),
 ('bureau_CREDIT_DAY_OVERDUE_sum', 0.030919625816936514),
 ('YEARS_BUILD_AVG', 0.03143442816756286),
 ('YEARS_BUILD_MEDI', 0.03143442863443832),
 ('YEARS_BUILD_MODE', 0.03143443338093351),
 ('LIVE_CITY_NOT_WORK_CITY', 0.0325183411014988),
 ('AMT_REQ_CREDIT_BUREAU_MON', 0.03283962948585997),
 ('AMT_REQ_CREDIT_BUREAU_QRT', 0.032842062533343555),
 ('AMT_REQ_CREDIT_BUREAU_HOUR', 0.03284248079026378),
 ('AMT_REQ_CREDIT_BUREAU_WEEK', 0.032842501384439324),
 ('AMT_REQ_CREDIT_BUREAU_DAY', 0.03284253571631851),
 ('AMT_REQ_CREDIT_BUREAU_YEAR', 0.03285169748963464),
 ('bureau_DAYS_CREDIT_UPDATE_max', 0.032982365052702724),
 ('WALLSMATERIAL_MODE_Panel', 0.0331190490688206),
 ('LANDAREA_MEDI', 0.03314617925768817),
 ('LANDAREA_AVG', 0.03314618244462576),
 ('LANDAREA_MODE', 0.03314618646292963),
 ('bureau_DAYS_CREDIT_max', 0.03657441669474867),
 ('BASEMENTAREA_AVG', 0.036619063763044316),
 ('BASEMENTAREA_MEDI', 0.03661906849921212),
 ('BASEMENTAREA_MODE', 0.03661907886970335),
 ('REGION_POPULATION_RELATIVE', 0.03722714854244525),
 ('bureau_DAYS_CREDIT_UPDATE_mean', 0.037659067207463946),
 ('NONLIVINGAREA_AVG', 0.03916827164332213),
 ('NONLIVINGAREA_MEDI', 0.039168272330364996),
 ('NONLIVINGAREA_MODE', 0.03916827591876985),
 ('bureau_DAYS_CREDIT_ENDDATE_max', 0.03936444296113943),
 ('LIVINGAREA_MEDI', 0.039404877441502194),
 ('LIVINGAREA_AVG', 0.03940487996091372),
 ('LIVINGAREA_MODE', 0.03940490014276435),
 ('AMT_GOODS_PRICE', 0.03956719858355091),
 ('bureau_DAYS_CREDIT_UPDATE_min', 0.03970664037043838),
 ('APARTMENTS_AVG', 0.040265606372624954),
 ('APARTMENTS_MEDI', 0.04026560725408626),
 ('APARTMENTS_MODE', 0.04026562918532701),
 ('ELEVATORS_AVG', 0.040298329412217664),
 ('ELEVATORS_MEDI', 0.04029833367061228),
 ('ELEVATORS_MODE', 0.040298360139492784),
 ('YEARS_BEGINEXPLUATATION_MEDI', 0.04055347091320459),
 ('YEARS_BEGINEXPLUATATION_MODE', 0.04055347235478686),
 ('YEARS_BEGINEXPLUATATION_AVG', 0.0405534730677088),
 ('HOUSETYPE_MODE_block of flats', 0.04059395087343341),
 ('FLOORSMAX_AVG', 0.040846079423469614)]

In [35]:
from sklearn.impute import SimpleImputer as Imputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer
import numpy as np
for i in range(0):
    if (new_corrs[i][0] == 'SK_ID_CURR'):
        continue
    app_train = app_train.drop(columns = [new_corrs[i][0]])
    app_test = app_test.drop(columns = [new_corrs[i][0]])

train = app_train.drop(columns = ['SK_ID_CURR'])
test  = app_test.drop(columns = ['SK_ID_CURR'])
#scaler = MinMaxScaler(feature_range = (0, 1))
scaler = Normalizer()
imputer = Imputer(strategy = 'median')

imputer.fit(train)
train = imputer.transform(train)
test = imputer.transform(test)
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)
print(train)

[[ 0.00000000e+00  0.00000000e+00  1.24810702e-16 ...  1.24810702e-12
   1.24810702e-12  1.24810702e-12]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  1.26586026e-13
   1.26586026e-13  1.26586026e-13]
 [ 7.59949754e-18  7.59949754e-18  7.59949754e-18 ...  7.59949754e-14
   7.59949754e-14  7.59949754e-14]
 ...
 [ 0.00000000e+00  0.00000000e+00  1.99332005e-17 ...  1.99332005e-13
   1.99332005e-13  1.99332005e-13]
 [ 0.00000000e+00  0.00000000e+00  4.88573644e-17 ...  4.88573644e-13
   4.88573644e-13  4.88573644e-13]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ... -3.88346552e-15
   3.71623494e-16  7.43246989e-16]]

In [36]:
train = np.array(train)
test  = np.array(test)
train_labels = np.array(train_labels)
print(train.shape)
print(test.shape)

(307511, 807)
(48744, 807)

## Model Part

In [37]:
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

def evaluate_AUC(y_pred,y_true):
    print(roc_auc_score(y_true,y_pred))

def get_train_test_dataset(total_train,total_train_labels):
    X_train, X_test, y_train, y_test = train_test_split(total_train, total_train_labels, test_size=0.3, random_state=31)
    return X_train, X_test, y_train, y_test

In [38]:
X_train, X_test, y_train, y_test = get_train_test_dataset(train,train_labels)

In [39]:
from lightgbm import LGBMClassifier
clf = LGBMClassifier(
            nthread=4,
            n_estimators=10000,
            learning_rate=0.02,
            num_leaves=34,
            colsample_bytree=0.9497036,
            subsample=0.8715623,
            max_depth=8,
            reg_alpha=0.041545473,
            reg_lambda=0.0735294,
            min_split_gain=0.0222415,
            min_child_weight=39.3259775,
            silent=-1,
            verbose=-1,)

clf.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_test, y_test)], eval_metric= 'auc', verbose= 200, early_stopping_rounds= 200)

Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.793209	training's binary_logloss: 0.23815	valid_1's auc: 0.762954	valid_1's binary_logloss: 0.242471
[400]	training's auc: 0.817387	training's binary_logloss: 0.228372	valid_1's auc: 0.771999	valid_1's binary_logloss: 0.239088
[600]	training's auc: 0.833298	training's binary_logloss: 0.221751	valid_1's auc: 0.775445	valid_1's binary_logloss: 0.237877
[800]	training's auc: 0.846537	training's binary_logloss: 0.216135	valid_1's auc: 0.777101	valid_1's binary_logloss: 0.237306
[1000]	training's auc: 0.858087	training's binary_logloss: 0.211123	valid_1's auc: 0.777795	valid_1's binary_logloss: 0.237055
[1200]	training's auc: 0.868002	training's binary_logloss: 0.206656	valid_1's auc: 0.778431	valid_1's binary_logloss: 0.236845
[1400]	training's auc: 0.877376	training's binary_logloss: 0.20234	valid_1's auc: 0.778577	valid_1's binary_logloss: 0.236799
[1600]	training's auc: 0.886194	training's binary_logloss: 0.198129	valid_1's auc: 0.778761	valid_1's binary_logloss: 0.236768
Early stopping, best iteration is:
[1532]	training's auc: 0.883424	training's binary_logloss: 0.199467	valid_1's auc: 0.778755	valid_1's binary_logloss: 0.236756

LGBMClassifier(boosting_type='gbdt', class_weight=None,
               colsample_bytree=0.9497036, importance_type='split',
               learning_rate=0.02, max_depth=8, min_child_samples=20,
               min_child_weight=39.3259775, min_split_gain=0.0222415,
               n_estimators=10000, n_jobs=-1, nthread=4, num_leaves=34,
               objective=None, random_state=None, reg_alpha=0.041545473,
               reg_lambda=0.0735294, silent=-1, subsample=0.8715623,
               subsample_for_bin=200000, subsample_freq=0, verbose=-1)

In [40]:
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

model = XGBClassifier(learning_rate = 0.05, n_estimators=20, max_depth=5)
model.fit(X_train,y_train)
y_pred = model.predict_proba(X_test)[:, 1]
evaluate_AUC(y_pred,y_test)

model = GradientBoostingClassifier(learning_rate=0.3,n_estimators=10,max_depth=2)
model.fit(X_train,y_train)
y_pred = model.predict_proba(X_test)[:, 1]
evaluate_AUC(y_pred,y_test)

model = LogisticRegression(C = 0.0001)
model.fit(X_train,y_train)
y_pred = model.predict_proba(X_test)[:, 1]
evaluate_AUC(y_pred,y_test)


model.fit(X_train,y_train)
y_pred = model.predict_proba(X_test)[:, 1]
evaluate_AUC(y_pred,y_test)

0.7271734420139127
0.5024053004312774
0.7062332640896789
0.7062332640896789

In [41]:
final_predict = app_test_poly[['SK_ID_CURR']]
y_evaluate_label = clf.predict_proba(test)[:, 1]
final_predict["TARGET"] = y_evaluate_label
final_predict.head()

   SK_ID_CURR    TARGET
0      100001  0.064334
1      100005  0.154204
2      100013  0.037086
3      100028  0.024925
4      100038  0.137759

In [42]:
final_predict.to_csv("resultkaggle.csv",index=False)